@import '~antd/dist/antd.css';

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: ghostwhite;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    padding: 30px;
}

.text-center {
    text-align: center;
}

.container {
    margin: 15px 0;
}

.btn-center {
    text-align: center;
    margin: 10px;
}

.input-container {
    margin: 20px 0;
}

.input-container .ant-input {
    background-color: ghostwhite;
}

.input-container .ant-input-suffix {
    right: 0;
}

.ant-mentions > textarea {
    background-color: ghostwhite;
}

.header-container {
    background: white;
    border: 1px solid #e8e8e8;
    text-align: center;
    padding: 10px;
}

.title-h1 {
    margin-bottom: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.span-icon {
    margin-left: 10px;
}

.p-icon {
    margin-right: 10px;
}

.profil-pic {
    margin-bottom: 10px;
}

.ant-upload-picture-card-wrapper {
    width: initial;
}

.users-list {
    background: white;
}

.list-item:hover {
    cursor: pointer;
    background: ghostwhite;
}

.user-avatar-list {
    width: 40px;
    height: 40px;
}

.load-more {
    background: ghostwhite;
    padding: 10px;
}

.card-pubs {
    width: fit-content;
    margin: auto;
}

.card-pubs .ant-card-head-title {
    padding: 3px 0;
}

.card-pubs > .ant-card-head {
    min-height: auto;
}

.card-pubs > .ant-card-body {
    padding: 0;
    cursor: pointer;
}

.modal-pubs .ant-modal {
    width: fit-content;
}

.ant-list-split .ant-list-header {
    border-bottom: 0;
}

.ant-comment .ant-comment-inner {
    border-top: 1px solid #e8e8e8;
}

.modal-webcam .ant-modal-body {
    padding: 0;
}

.no-notification {
    padding: 4px;
}

.ant-statistic-content {
    display: flex;
    align-items: center;
}

.stats-container {
    margin-top: 10px;
}